<%= form_for(@hero) do |f| %>
  <% if @hero.errors.any? %>
      <h2><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% @hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :super_power %><br>
    <%= f.text_field :super_power %><br>

    <%= f.label :image %><br>
    <%= f.text_field :image %><br>

    <%= radio_button_tag(:cape, true) %><br>
    <%= label_tag(:cape_true, "I have a cape") %><br>
    <%= radio_button_tag(:cape, false) %><br>
    <%= label_tag(:cape_false, "I do not have a cape") %><br>

    <%= f.submit %>
<% end %>


