<%= form_for(@hero) do |f| %>
  <% if @hero.errors.any? %>
      <h2><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% @hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :super_power %><br>
    <%= f.text_field :super_power %>

    <%= f.label :image %><br>
    <%= f.text_field :image %>

    <%= radio_button_tag(:cape, "true") %>
    <%= label_tag(:cape_true, "I have a cape") %>
    <%= radio_button_tag(:cape, "false") %>
    <%= label_tag(:cape_false, "I do not have a cape") %>

    <%= f.submit %>
<% end %>


